

<div class="container-narrow">
    <hr>
<h4 class="mainName">DEPARTMENTS</h4>
<hr><br/>
      <div class="row" >
   <button (click)="showAdd()" title="Add" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add department </button>
  <div class="col-sm-6 ">
    <div class="input-group ">
      <input type="text"  placeholder="Search for..." class="searchfield">
    </div><!-- /input-group -->
      
  </div>
           
        </div>
    <br/><br/><br/><br/>

    <table align="center">
            <thead>
                <tr>
                    <td><strong>Department</strong></td>
                    <td><strong>Department Location</strong></td>
                    <td><strong>Edit</strong></td>
                    <td><strong>Delete</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#department of departments">
                    
                    <td>{{department.departmentName}}</td>
                    <td>{{department.departmentLocation}}</td>
                    <td><button class="btnEdit" (click)="showEdit(department)" >Edit</button></td>
                    <td><button class="btnDelete" (click)=deleteDepartment(department)>Delete</button></td>             
                </tr>
                
            </tbody>
        </table>
  
   <br/><br/>
     
     <div class="row">
    <button *ngIf="pageNumber!== 1" class="btn btn-sm btn-warning" (click)="back($event)">
                <span class="glyphicon glyphicon-menu-left"></span>
                &laquo; Previous
    </button>
                   </div>
     
     <div class="rowRight">
         
          <button *ngIf="departments" class="btn btn-sm btn-warning" (click)="next($event)">
             Next &raquo;
              <span class="glyphicon glyphicon-menu-right  "></span>
     </button>
     </div>
     <br/><br/>
     
  <form [ngFormModel]="myForm"  
          (ngSubmit)="addDepartment(newItem)" [hidden]="!showAddView" align="center">


             
        <div>       
            <label for="editAbrv">Department name:</label><br>
              <input type="text" [(ngModel)]="newItem.departmentName" [ngFormControl]="myForm.controls['departmentName']" > 
               
         <div *ngIf="departmentName.hasError('required')"  class="ui error message"><b style="color:red;">Name is required</b></div>  
      </div>
 
      
       
        <div>
            <label for="editAbrv">Department Location:</label><br>
             <input type="text" [(ngModel)]="newItem.departmentLocation" [ngFormControl]="myForm.controls['departmentLocation']" > 
        
         <div *ngIf="departmentLocation.hasError('required')" class="ui error message"><b style="color:red;">Location is required</b></div>  
      </div> 
        
   
        <div>
            <button type="submit" class="ui button">Submit</button>  
            <button><a href="javascript:void(0);" (click)="showHide($event)" >
                Cancel
            </a></button>
        </div>
</form>

  <form  #e="ngForm" [hidden]="!showEditView" align="center">
        <div>
            <label for="editAbrv">Department name:</label><br>
              <input type="text" [(ngModel)]="selected.departmentName" ngControl="departmentName" required > 
              <div [hidden]="e.valid || e.pristine" class="alert alert-danger">Required</div>
        </div>
        <div>
            <label for="editAbrv">Department Location:</label><br>
             <input type="text" [(ngModel)]="selected.departmentLocation" ngControl="departmentLocation"> 
              <div [hidden]="e.valid || e.pristine" class="alert alert-danger">Required</div>   
        </div>
   
        <div>
            <a href="javascript:void(0);" (click)="editDepartment(selected); showEditView=false" title="Add">
                Save
            </a>
            <a href="javascript:void(0);" (click)="showEditView=false">
                Cancel
            </a>
        </div>
</form>
 <hr>
<div class="footer" align="center">
   <p>&copy; Company 2016</p>
 </div>
</div>

